.git
.github
database/storage
server/.env
server/.env.*
server/node_modules
server/data/archive
server/data/FoodSeg103/Images
server/data/FoodSeg103/ImageSets
server/data/FoodSeg103/custom-images
server/data/FoodSeg103/test_recipe1m_id.txt
server/data/FoodSeg103/train_test_recipe1m_id.txt
server/NUT_model/.venv
server/NUT_model/__pycache__
server/NUT_model/*.pyc
server/noip-duc_3.3.0
server/noip-duc_3.3.0.tar.gz
